.events {
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom:5px;
		border: 1px solid #ccc;
		width: 230px;
		height: 290px;
}
		
@media(min-width:1200px) {
		margin-left:15px;
		margin-bottom:15px;
		float:left;
}
		
.events:hover {
		border: 1px solid #777;
}
		
.description {
		padding: 15px;
		text-align: center;
}

.eventImages{
		width: 100%;
		height: 210px;
		}
