.hero-image {
    background-image: url("../images/hero-image-mobile.JPG");
    background-color: #cccccc;
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

#hero-text {
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 1px 0px #000;
    padding: 2%;
    border: 3px solid white;
    font-family: 'Cinzel Decorative', cursive;
}

section {
    text-align: center;
}

section h1 {
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Cinzel Decorative', cursive;
}

#about {
    background-color: #eee;
    padding: 6px 0;
    margin-top: 10px;
}

#about-text {
    max-width: 90%;
    margin: 0 auto;
    line-height: 2;
    font-family: 'Lora', serif;
}

#gallery {
    background-image: url("../images/hands.jpg");
    background-color: #cccccc;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10px;
}

#enter-gallery {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel Decorative', cursive;
}

#enter-gallery a {
    font-size: 35px;
    color: white;
    text-decoration: none;
    border: 3px solid white;
    padding: 3%;
    max-width: 200px;
    text-shadow: 1px 1px 0px #000;
}

#contact {
    background-color: #eee;
    padding: 20px 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

#contact p {
    font-family: 'Lora', serif;
    font-size: 20px;
}

.submit {
    border-radius: 10px;
    font-size: 20px;
    margin-right: 15px;
    padding: 8px;
    background-color: #5CB85C;
    border: 1px solid #5CB85C;
    color: white;
}

.reset {
    border-radius: 10px;
    font-size: 20px;
    padding: 8px;
    background-color: #DC3545;
    border: 1px solid #DC3545;
    color: white;
}

form input {
    margin-bottom: 10px;
}

@media only screen and (min-width: 1000px) {
    .hero-image {
        background-image: url("../images/hero-image.JPG");
        height: 900px;
      }
    
    #hero-text {
        font-size: 45px;
        top: 40%;
    }

    .contact-grid {
        display: grid;
        max-width: 80%;
        margin: auto;
        margin-top: 50px;
        grid-template-columns: 50% 50%;
        grid-gap: 50px;
    }

    #contact-info-desktop {
        line-height: 2;
    }

    form {
        background-color: #CFD8E1;
        padding: 5%;
        border-radius: 10px;
    }

    form input {
        margin-top: 5px;
        margin-bottom: 15px;
        width: 55%;
    }

    form textarea {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 80%;
    }

    .submit {
        width: 100px;
    }

    .reset {
        width: 100px;
    }
}