html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

nav {
    color: black;
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: opacity;
    transition-duration: 2s;
}

.top-bar {
   display: flex;
   background-color: white;
   padding-bottom: 5px;
}

.invisible {
    opacity: 0;
}

.logo {
    font-size: 25px;
    flex: 1;
    margin-left: 5px;
    font-family: 'Corben', cursive;
}

.bar-container { 
    width: 35px;
    margin-top: 7px;
    margin-right: 5px;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

#close-menu {
    position:absolute;
    top:0;
    right:0;
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
}

#menu-items {
    background-color: white;
    text-align: center;
    position: relative;
    left: -1000px;
    width: 100%;
    margin: 20% auto;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
    -webkit-transition: 0.5;
    transition: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    letter-spacing: 2px;
}

.hidden {
    display: none;
}

.menu-transition {
    left: 0 !important;
}

/* @-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
} */

#menu-items div {
    margin-top: 10px;
}

#menu-items a {
    color: black ;
    text-decoration: none;
    cursor: pointer;
}

#menu-items a:hover {
    background-color: black;
    color: white;
    border: 10px solid black;
}

footer {
    background-color: black;
    color: white;
    padding: 5px 0;
}

#copyright {
    text-align: center;
    margin-bottom: 20px;
}

.footer-links {
    text-align: center;
}

.footer-links a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

@media only screen and (min-width: 1024px) {

    .logo {
        width: 30%;
        font-size: 38px;
        margin-left: 15px;
        margin-right: 15px;
    }

    #menu-items {
        display: flex;
        font-size: 25px;
        text-align: initial;
        position: relative;
        left: initial;
        width: 65%;
        margin-top: 20px;
        margin-bottom: initial;
        margin-right: initial;
        margin-left: initial;
        padding-top: initial;
        padding-bottom: initial;
        -webkit-animation: initial;
        animation: initial;
    }

    #menu-items a {
        font-size: 20px;
        margin-left: 10px;
    }

    #menu-items a:hover {
        background-color: black;
        color: white;
        border: 10px solid black;
    }

    .top-bar-desktop {
        width: 100%;
        display: flex;
        background-color: white;
        padding-bottom: 5px;
    }

    #close-menu {
        display: none;
    }

    .instagram-link {
        margin-left: auto;
        margin-right: 40px;
    }

    .bar-container { 
        display: none;
    }

    .hidden {
        display: block;
    }
    
}